<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ERHMS.Sandbox.Service">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/ERHMS.Sandbox" />
          </baseAddresses>
        </host>
        <endpoint binding="netNamedPipeBinding" contract="ERHMS.Sandbox.IService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
