<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ERHMS.Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ERHMS.Utility.Properties.Settings>
      <setting name="ServiceAddress" serializeAs="String">
        <value>net.pipe://localhost/erhms-info-manager</value>
      </setting>
    </ERHMS.Utility.Properties.Settings>
  </applicationSettings>
</configuration>
