<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Endpoint" value="http://localhost:50000/SurveyManagerServiceV2.svc" />
    <add key="OrganizationKey" value="d7136309-6ed1-4942-b65a-3733175c2823" />
  </appSettings>
  <connectionStrings>
    <add name="EIWS"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EIWS;Integrated Security=true" />
    <add name="ERHMS_Test"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ERHMS_Test;Integrated Security=true" />
  </connectionStrings>
</configuration>
